<!--suppress HtmlUnknownTarget -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0"/>
    <title> Sharehouse: Home</title>
    <!-- meta tags -->

    <!-- style files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <%- include('styles') %>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body id="body">
<div class="ui container fluid">
    <div class="ui segment brand">
        <img class="ui medium image" src="/images/sh_text.png">

    </div>


</div>

<div class="ui container inner">

    <div class="ui labeled button" tabindex="0">
        <button class="ui basic button add">
            <a href="/warehouses/add"><i class="icon plus"></i>
                Add a listing </a>
        </button>
    </div>
    <div class="ui right aligned grid">
        <div class="left floated left aligned four wide column">
            <div class="ui segment">
                <div class="ui card">
                    <div class="content">
                        <div class="ui list">
                            <div class="item"><a href="#">My Profile</a></div>
                            <div class="item"><a href="/warehouses/manage">Manage</a></div>
                            <div class="item"><a href="/warehouses/store">In Storage</a></div>
                            <div class="item"><a>Messages</a></div>
                        </div>
                    </div>
                </div>
                <div class="ui two column centered grid">
                    <div class="column">Control Panel</div>
                </div>

                <div class="ui card">
                    <div class="content">
                        <div class="ui list">
                            <div class="item"><a href="#">Notifications</a></div>
                            <div class="item"><a href="/users/change/password">Change password</a></div>
                            <div class="item"><a href="/logout">Logout</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right floated left aligned eleven wide column">
            <div class="ui segment raised">
                <div class="ui grid">
                    <div class="four wide column">
                        <div class="ui image">
                            <img class="ui medium image" src="/images/amazonWH.png" alt="Warehouse">
                        </div>
                    </div>
                    <div class="six wide column">
                        <div class="ui list">
                            <div class="item"><%= user.username %></div>
                            <ol>
                                <div class="item"><%= user.user_type%></div>
                                <div class="item"><%= user.email %></div>
                            </ol>


                        </div>
                    </div>
                </div>
                <div class="ui right aligned grid">
                    <div class="right floated right aligned six wide column">
                        <button class="ui basic button">
                            <a href="#"> Edit </a>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="ui right aligned grid details">
        <div class="right floated left aligned eleven wide column">
            <div class="ui segment wh-details">
                <div class="ui two column centered grid">
                    <div class="column">Warehouse details</div>
                </div>

                <div class="ui segment raised">
                    <% if(warehouses.length){ %>
                    <% for(var i = 0; i < warehouses.length; ++i){ %>
                    <a href="/warehouses/listings/id/<%= warehouses[i]._id %>">
                        <div class="ui grid">
                            <div class="four wide column">
                                <div class="ui image">
                                    <img class="ui medium image" src="/images/amazonWH.png" alt="Warehouse">
                                </div>
                            </div>
                            <div class="six wide column">
                                <div class="ui list">
                                    <div class="item"><strong><strong>Name: </strong><%= warehouses[i].name %></strong>
                                    </div>
                                    <ol>
                                        <div class="item"><strong>Location: </strong>
                                            <% warehouses[i].location %>
                                        </div>
                                        <div class="item"><strong>Area: </strong> <%= warehouses[i].area %> sqm</div>
                                        <div class="item"><strong>Empty space: </strong> <%= warehouses[i].empty %> sqm
                                        </div>
                                        <div class="item"><strong>Price: </strong> $ <%= warehouses[i].price %>/sqm/mo
                                        </div>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </a>
                    <% } %>
                    <% } else{%>
                    <p>No warehouse yet. Click <a href="/warehouses/add"> Add</a> to get started.</p>
                    <%}%>

                </div>
                <div class="ui right aligned grid">
                    <div class="right floated right aligned six wide column">
                        <button class="circular ui basic icon button adder">
                            <i class="icon plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui  vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable grid">
                <div class="three wide column">
                    <h4 class="ui header">Company</h4>
                    <div class="ui link list">
                        <a class="item" href="" target="_blank">About</a>
                        <a class="item" href="" target="_blank">Contact</a>

                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header">Services</h4>
                    <div class="ui link list">
                        <a class="item" href="" target="_blank">Warehouse Listing</a>
                        <a class="item" href="" target="_blank">Inventory management</a>
                    </div>
                </div>
                <div class="seven wide right floated column">
                    <h4 class="ui header">Social Media</h4>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nulla erat, feugiat ut
                        tempus luctus, volutpat vitae velit. Mauris et.</p>

                </div>
            </div>
            <div class="ui section divider"></div>
            <div class="ui horizontal small divided link list">
                <a class="item" href="" target="_blank">Copyright &copy; <%= new Date().getFullYear(); %></a>
            </div>
        </div>
    </div>
</div>


<!-- scripts -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
<script src="/javascripts/script.js" type="text/javascript"></script>

</body>
</html>
    
    