<!DOCTYPE html>
<html lang="en" class="fp">
<head>
   <meta charset="UTF-8">
   <title>Preview</title>

   <%- include('core-styles')%>
</head>
<body class="fp">
<div class="blk fp global-host ys">
   <%- include('depositor-nav', {user : user})%>
   <section id="home" class="container home fph fpv9 bg-clr27 mt80 bt0">
      <!--<div class="fp blk abs bg-img"></div>-->
      <!--<div class="fp blk abs sh-bg bgs-cov bg-nr">
         <img src="/images/SharehouseLogo.png" class="fph" alt="">
      </div>-->
      <!--<div class="fp blk abs overlay"></div>-->
      <!--<div class="fp fl rltv">-->

      <div class="fph9 fpv ctr-h flex-cols-2-1 bg-clr2 bdr">
         <!--text description col-->
         <div class="col-2 fpv8 rltv">
            <div class="fph fpv55 clr24 bb rltv">
               <div class="ctr-hv fph8">
                  <h1 class=" mtb20 type bld8 fts36">
                     <%= warehouse.name%>
                  </h1>
                  <h3 class="mtb20 type al">
                     <span><i class="fa fa-map-marker"></i></span> <%= warehouse.location%>
                     <span class="ml15"><i class="fa fa-building"></i></span>Agrona Company Ltd
                  </h3>
               </div>
            </div>
            <div class="fph fpv45 pd20 bb">
               <table class="fph clr24">
                  <tr class="h40">
                     <td>Size</td>
                     <td class="bld7"><%= warehouse.area%> sq.m</td>
                     <td>Available</td>
                     <td class="bld7"><%= warehouse.free_space%> sq.m</td>
                  </tr>
                  <tr class="h40">
                     <td>Type of Goods Allowed</td>
                     <td class="bld7"><%= warehouse.typeOfGoods%></td>
                  </tr>
                  <tr class="h40">
                     <td>CCTV</td>
                     <td class="bld7"><i class="fa fa-check-circle clr22"></i></td>
                     <td>Guard</td>
                     <td class="bld7"><i class="fa fa-check-circle clr22"></i></td>
                  </tr>
                  <tr class="h40">
                     <td>TRUSTED PARTNER</td>
                     <td class="bld7"><i class="fa fa-shield clr22"></i></td>
                  </tr>
               </table>
            </div>
            <!--Company Logo-->
            <div class="mt10 h80 w90 bg-clr2 iblk left100p-0_plus rltv fl pd5">
               <img src="/images/agrona.png" alt="Damco" class="w70 ctr-hv">
            </div>
            <!--Light box source-->
            <div class="h80 iblk fph8 rc-tr75 rc-br75 bg-clr14 pdtb5 pdr30 ac lh10 mt10">
               <div class="hw70 bdr mlr5 iblk .active bdr2 bd-clr24 oh rc5">
                  <img src="/images/refrigerated-wh.jpg" alt="" class="fpv ctrhv cur-ptr">
               </div>
               <div class="hw60 bdr va-s mlr5 iblk rc3 oh rc5 va-sup">
                  <img src="/images/refrigerated-1.jpg" alt="" class="fpv cur-ptr ">
               </div>
               <div class="hw60 bdr va-s mlr5 iblk oh rc5 va-sup">
                  <img src="/images/refrigerated-2.jpg" alt="" class="fpv  cur-ptr">
               </div>
               <!--<div class="hw60 bdr va-s mlr5 iblk oh rc5 va-sup">-->
               <!--<img src="/images/warehouse-Forklift.jpg" alt="" class="h60  cur-ptr">-->
               <!--</div>-->
            </div>
         </div>
         <!--image preview col-->
         <div class="col-2 fpv rltv" style="margin-right:0 !important; ">
            <div class="fp oh">
               <img src="/images/refrigerated-wh.jpg" height="100%" width="100%" alt="" class="fph">
            </div>
            <!--image overlay card-->
            <div class="fph6 rc4 h60 bg-clr2 abs top100p-80 ctr-h flex-cols-2-1 bs-2-3">
               <div class="fpv fph6 pd10">
                  <h3 class="bld ac op6 fts16"><span class="price fts24">$ <%= warehouse.price%></span> /sq m /Month</h3>
               </div>
               <div class="fpv fph4 ar rltv pd10 pdt12">
                  <button class="rent pdlr40 pdtb10 rc20 h37 min-w37 bg-clr14 cur-ptr">RENT</button>

               </div>
            </div>
         </div>
      </div>
   </section>
   <!--<section id="hom" class="container home fp zi5_i rltv bg-clr5">
      <div class="fph9 fpv rc4 ctr-h flex-cols-2-1 bg-clr24">
         <div class="fpv rlt">

         </div>
         <div class="fpv rlt"></div>
      </div>
   </section>-->
   <!--Pyay't form container-->
   <section class="payment-conf overlay fxd fp top0 left0 zi50 hidden">
      <section class="overlay fxd fp op8 bg-clr2 top0 left0 zi50">
      </section>
      <section class="overlay fxd fp bg-clr-tr top0 left0 zi52">
         <button class="close-btn hw40 clr24 abs right10 top10 fts40 lh8 bld2 rc50p pdb10 bg-clr-tr hov-bg-clr-25 bd-clr24 cur-ptr">
            &times;
         </button>
         <div class="purchase-form ctr-hv w650 ha bs-2-3 bg-clr2 zi52 oh bs-1-3 rc4 oh">
            <div class="fp ys">
               <div class="form-head fph h140 bb rltv pdlr20 pdtb20">
                  <h1 class="mlr30 bb ctr-v blk fph-90 zi1 bd-clr22"></h1>
                  <div class="fp flex-cols-3-8 jc-sa">
                     <div class="ac rltv zi3 ac pdt30">
                        <div class="hw30 bdr rc50 bg-clr23 bd-clr22 clr22 m0a blk mb10 pdt3 rent-d-crumb">1</div>
                        <p class="op5">Rental Details</p>
                     </div>
                     <div class="ac zi3 pdt30">
                        <div class="hw30 bdr rc50 clr22 bg-clr2 bd-clr22 m0a blk mb10 pdt3 pay-m-crumb">2</div>
                        <p class="op5">Payment Method</p>
                     </div>
                     <div class="ac zi3 pdt30">
                        <div class="hw30 bdr rc50 clr22 bg-clr2 bd-clr22 m0a blk mb10 pdt3 bld6 conf-crumb">3</div>
                        <p class="op5">Confirmation</p>
                     </div>
                  </div>
                  <!--<button class="hw30 close-btn bg-clr-tr clr2 fts30 lh10 ctr-v right10 op5 hov-op10 abs cur-ptr">&times;</button>-->
               </div>
               <div class="checkout-form-container">
                  <div class="payt-options h70 pdlr20 pdt20 flex-cols-4-4 jc-sb hidden">
                     <div class="fpv rc4 hov-bg-clr28 ac oh">
                        <div class="fp img-radio">
                           <input type="radio" id="mpesa" name="paytmethod-sel" value="mpesa" checked>
                           <label for="mpesa" class="fp"><img class="h50" src="/images/mpesa.png" alt=""></label>
                        </div>
                     </div>
                     <div class="fpv rc4 hov-bg-clr28 ac oh">
                        <div class="fp img-radio">
                           <input type="radio" id="master-card" name="paytmethod-sel" value="master-card">
                           <label for="master-card" class="fp"><img class="h50" src="/images/mastercard.svg" alt=""></label>
                        </div>
                     </div>
                     <div class="fpv rc4 hov-bg-clr28 ac oh">
                        <div class="fp img-radio">
                           <input type="radio" id="visa" name="paytmethod-sel" value="visa">
                           <label for="visa" class="fp"><img class="h50" src="/images/visa.svg" alt=""></label>
                        </div>
                     </div>
                     <div class="fpv rc4 hov-bg-clr28 ac oh">
                        <div class="fp img-radio">
                           <input type="radio" id="paypal" name="paytmethod-sel" value="paypal">
                           <label for="paypal" class="fp"><img class="h50" src="/images/paypal.svg" alt=""></label>
                        </div>
                     </div>
                  </div>
                  <form action="#" class="pd30 pdtb30">
                     <div class="rent-details-form">
                        <div class="fields-row mb4p">
                           <div class="field-wrap">
                              <label for="rent-space">Space (sq m) * [Min 20][Max 165]</label>
                              <input class="h40" value="80" type="number" max="165" min="20" id="rent-space" placeholder="" title=""
                                     name="">
                           </div>
                           <div class="field-wrap">
                              <label for="months">Number of Months * [Min 1]</label>
                              <input class="h40" value="3" type="number" min="1" id="months" placeholder="" title="" name="">
                           </div>
                        </div>
                        <div class="fields-row mb4p">
                           <label for="months">Move-in Date *</label>
                           <input class="h40" type="date" value="08/09/2018" min="1" id="move-in-date" placeholder="" title="" name="">

                        </div>
                        <!--<div class="fields-row ac">-->
                        <!--<button type="button" class="next-btn bg-clr23 hov-bg-clr24 cur-ptr clr2 pdlr40 pdtb10 rc20 mtb25">Next</button>-->
                        <!--</div>-->
                     </div>
                     <div class="card-form hidden">
                        <!--number and name fields-->
                        <div class="fields-row mb4p">
                           <div class="field-wrap">
                              <label for="crd-num">Card Number *</label>
                              <input class="h40" type="password" id="crd-num" placeholder="" title="" name="">
                           </div>
                           <div class="field-wrap">
                              <label for="crd-num">Card Holder *</label>
                              <input class="h40" type="text" id="op-lastname" placeholder="" title="" name="">
                           </div>
                        </div>


                        <div class="fields-row mb4p ">
                           <!--Expiry date-->
                           <div class="field-wrap">
                              <div class="fl w50p tokens">
                                 <label for="crd-num">Month *</label>
                                 <select class="h40 fph5" id="crd-month" title="" name="">
                                    <option>Select Month</option>
                                 </select>
                              </div>
                              <div class="fl w50p tokens">
                                 <label for="crd-num">Year *</label>
                                 <input type="number" class="h40 fph" id="crd-yr" title="" name="">
                              </div>
                           </div>
                           <!--CVC-->
                           <div class="field-wrap">
                              <label for="crd-num">CVC *</label>
                              <input class="h40" type="text" id="ostname" placeholder="" title="" name="">
                           </div>
                        </div>
                        <div class="fields-row">
                           <div class="field-wrap">
                              <div class="checkbox checkbox-info inlineBlock">
                                 <input type="checkbox" id="autoE" name="autoEnrol" value="1" checked>
                                 <label for="autoE">Save My Details for future use</label>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="phone-form fields-row mb4p hidden">
                        <label for="phone-num">Phone Number *</label>
                        <input class="h40" value="+254260721202" type="text" id="phone-num" placeholder="" title="" name="">
                     </div>
                     <div class="fields-row ac">
                        <button type="button" class="m0a next-btn bg-clr23 hov-bg-clr24 cur-ptr clr2 pdlr40 pdtb10 rc20 mtb25">Next
                        </button>
                     </div>
                  </form>
               </div>
               <div class="confirm-container pd30 hidden">
                  <div class="mtb30 ac">
                     <p>Clicking on the button below will confirm and complete payment;</p>
                     <p class="fts14 ">If you're using mPesa or Debit Card,</p>
                     <p class="fts14">make sure you have enough funds</p>
                  </div>
                  <div class="fields-row ac">
                     <button class="confirm-btn bg-clr23 hov-bg-clr24 cur-ptr clr2 pdlr40 pdtb10 rc20 mtb25">Confirm</button>
                  </div>
               </div>
               <!--Progess and success message container-->
               <div class="success-msg-container pd30 hidden">
                  <!---->
                  <!--<p class="ac fts24 h50 mb30">Working on it please wait</p>-->
                  <div class="fph ac pdtb30"><!--<img src="" alt="">-->
                     <div class="circle-loader mb30">
                        <div class="checkmark draw"></div>
                     </div>
                     <div class="fields-row ac">
                        <button id="toggle" class="bg-clr23 hov-bg-clr24 cur-ptr clr2 pdlr40 pdtb10 rc20 mtb25">Dismiss</button>
                     </div>
                     <!--<p><button id="toggle" type="button" class="btn btn-success">Toggle Completed</button></p>-->
                  </div>
               </div>
               <!--<div class="failure-msg-container pd30"></div>-->
            </div>
         </div>
      </section>
   </section>
   <footer class="ctr rltv blk fdg-h">
      <div class="abs fp bg-clr1 op4"></div>
      <div class="abs fp">
         <div class="footer-above  pdlr50 pdt20">
            <div class="container m0a">
               <div class="row fp ctr">
                  <div class="footer-col col-3">
                     <span class="ti-location-pin blk icon-large tz-icon-color mb10"></span>
                     <h3 class=""> Location</h3>
                     <p>25 Aluguntugun
                        <br>East Legon, GH</p>
                  </div>
                  <div class="footer-col col-3">
                     <span class="ti-mobile blk icon-large tz-icon-color mb10"></span>
                     <h3>Call Us Today!</h3>
                     <p>(M) +233 (0) 243 456 7890</p>
                     <p>(M) +233 (0) 263 456 7890</p>
                     <!--<h3>Around the Web</h3>
                     <div class="menu h-menu m0a ctr atw blk">
                        <ul class="list-inline fp">
                           <li class="list-inline-item">
                              <a class="btn-social btn-outline" href="#">
                                 <i class="fa fa-fw fa-facebook"></i>
                              </a>
                           </li>
                           <li class="list-inline-item">
                              <a class="btn-social btn-outline" href="#">
                                 <i class="fa fa-fw fa-google-plus"></i>
                              </a>
                           </li>
                           <li class="list-inline-item">
                              <a class="btn-social btn-outline" href="#">
                                 <i class="fa fa-fw fa-twitter"></i>
                              </a>
                           </li>
                           <li class="list-inline-item">
                              <a class="btn-social btn-outline" href="#">
                                 <i class="fa fa-fw fa-linkedin"></i>
                              </a>
                           </li>
                        </ul>
                     </div>-->
                  </div>
                  <div class="footer-col col-3">
                     <span class="ti-email blk icon-large tz-icon-color mb10"></span>
                     <h3>Email</h3>
                     <p>abc@xyz.com</p>
                     <p>abc@xyz.com</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-below  pdlr50 pdb20 clearfix">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 ac">
                     Copyright © <span class="company-name"></span> <span class="cur-year"></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</div>

<!--<script src="js/core/Barge.Utils.js"></script>-->
<!--<script src="js/core/Barge.Array.js"></script>-->
<!--<script src="js/core/Barge.Object.js"></script>-->
<script src="/js/base.min.js"></script>

<script src="/js/Dom.js"></script>
<script src="/js/event.js"></script>

<!--<script src="js/ui/dragSorter.js"></script>-->
<!--<script src="js/ui/Barge.Dom.TabbedView.js"></script>-->

<!--<script src="js/sharehouse.js"></script>-->
<script>
   (function () //don't pollute the global scope
   {
      let Bu               = Bee.Utils,
          Bd               = Bee.Dom,
          Be               = new Bee.Event.EventManager(),
          $                = Bd.getEl,
          payt             = $(".payment-conf"),
          confirmContainer = $('.confirm-container');
      let step = 1;

      Be.bind($("button.rent"), "click", function (e)
      {
         payt.classList.remove("hidden")
      });

      function nextStep(elToHide, elToShow, finishedCrumb, nextCrumb)
      {
         Bd.addClass(elToHide, 'hidden');
         Bd.removeClass(elToShow, 'hidden');

         if (Bu.defined(finishedCrumb))
         {
            Bd.removeClass(finishedCrumb, 'bg-clr23');
            Bd.addClass(finishedCrumb, 'bg-clr2');
            finishedCrumb.innerHTML = "<i class='fa fa-check'></i>";
         }

         if (Bu.defined(nextCrumb))
         {
            Bd.removeClass(nextCrumb, 'bg-clr2');
            Bd.addClass(nextCrumb, 'bg-clr23');
         }
         //side effect
         step++;
      }

      Be.bind($(".next-btn"), 'click', function (e)
      {
         if (step === 1)
         {
            nextStep($('.rent-details-form'), $('.phone-form'), $('.rent-d-crumb'), $('.pay-m-crumb'));
            Bd.removeClass($('.payt-options'), 'hidden');
         }
         else
         {
            nextStep($('.checkout-form-container'), confirmContainer, $('.pay-m-crumb'), $('.conf-crumb'));
         }
      });

      Be.bind($('.confirm-btn'), 'click', function (e)
      {
         Bd.addClass($(".form-head"), 'hidden');
         Bd.addClass(confirmContainer, 'hidden');
         Bd.removeClass($('.success-msg-container'), 'hidden');
         let purchase = $('.purchase-form');
         Bd.removeClass(purchase, 'w650');
         Bd.addClass(purchase, 'w400');

         let timer = setTimeout(function ()
                                {
                                   Bd.addClass($('.circle-loader'), 'load-complete');
                                   Bd.toggleDisplay($('.checkmark'));
                                   clearTimeout(timer);
                                }, 3000)
      });

      Be.bindOnAll([$('#toggle'), $('.overlay>button.close-btn'),], "click", function (e)
      {
         Bd.addClass(payt, 'hidden');
      });

      Be.bindOnAll($('input[name=paytmethod-sel]', true), "click", function (e)
      {
         if (this.value === 'mpesa')
         {
            Bd.addClass($('.card-form'), 'hidden');
            Bd.removeClass($('.phone-form'), 'hidden');
         }
         else
         {
            Bd.removeClass($('.card-form'), 'hidden');
            Bd.addClass($('.phone-form'), 'hidden');
         }
      });
   }());

</script>
</body>
</html>